[submodule "thirdparty/opennurbs"]
	path = thirdparty/opennurbs
	url = https://github.com/mcneel/opennurbs.git
[submodule "thirdparty/LBFGSpp"]
	path = thirdparty/LBFGSpp
	url = https://github.com/yixuan/LBFGSpp.git
[submodule "thirdparty/apollonius"]
	path = thirdparty/apollonius
	url = https://github.com/MerlotRain/apollonius.git
