[submodule "thirdparty/opennurbs"]
	path = thirdparty/opennurbs
	url = https://github.com/mcneel/opennurbs.git
[submodule "thirdparty/CavalierContours"]
	path = thirdparty/CavalierContours
	url = https://github.com/jbuckmccready/CavalierContours.git
[submodule "thirdparty/LBFGSpp"]
	path = thirdparty/LBFGSpp
	url = https://github.com/yixuan/LBFGSpp.git
